.cm-s-mirrormark{
	.cm-header-1 {
		font: 28px Menlo, Consolas, Monaco, 'Andale Mono', monospace;
		font-weight: bold;
	}

	.cm-header-2 {
		font: 22px Menlo, Consolas, Monaco, 'Andale Mono', monospace;
		font-weight: bold;
	}

	.cm-header-2 {
		font: 18px Menlo, Consolas, Monaco, 'Andale Mono', monospace;
		font-weight: bold;
	}

	.cm-quote,
	.cm-link,
	.cm-tag,
	.cm-string {
		color: #888;
	}
	.cm-variable-2 { color: #000; }
}
