.cm-s-mirrormark {
    .cm-header-1 {
    	font: 28px Menlo, Consolas, Monaco, 'Andale Mono', monospace;
    	font-weight:	bold;
    }

    .cm-header-2 {
    	font: 22px Menlo, Consolas, Monaco, 'Andale Mono', monospace;
    	font-weight: bold;
    }

    .cm-header-2 {
    	font: 18px Menlo, Consolas, Monaco, 'Andale Mono', monospace;
    	font-weight: bold;
    }

    .cm-quote,
    .cm-link,
    .cm-tag,
    .cm-string {
    	color: #888;
    }

    /* Default theme */
    .cm-keyword {color: #708;}
    .cm-atom {color: #219;}
    .cm-number {color: #164;}
    .cm-def {color: #00f;}
    .cm-variable,
    .cm-punctuation,
    .cm-property,
    .cm-operator {}
    .cm-variable-2 {color: #05a;}
    .cm-variable-3 {color: #085;}
    .cm-comment {color: #a50;}
    .cm-string-2 {color: #f50;}
    .cm-meta {color: #555;}
    .cm-qualifier {color: #555;}
    .cm-builtin {color: #30a;}
    .cm-bracket {color: #997;}
    .cm-tag {color: #170;}
    .cm-attribute {color: #00c;}
}
